body{
    background-color: white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
aside{
    justify-content: start;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#all{
    display: flex;
    flex-direction: row;
}
#albums{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.nav-logo{
    max-width: 50px;
    min-width: 50px;
    max-height:50px;
    min-height: 50px;
}
.album-images{
    max-width: 50px;
    min-width: 50px;
    max-height:50px;
    min-height: 50px;
}